* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #ffe600;
  min-height: 100vh;
}
.skin {
  position: relative;
}
.nose {
  width: 70px; 
  height: 100px;
  position: absolute;
  border-radius: 80%;
  left: 50%;
  top: 200px;
  background-color:#000;
  margin-left: -35px;
  z-index: 2;
}
.nose::after {
  position: absolute;
  content: " ";
  width:60px; 
  height:100px;
  background:#ffe600;
  border-radius: 80%;
  left: 5px;
  top: 5px;
  z-index:5;
}
.eye {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 50%;
  top: 110px;
  margin-left: -70px;
  background: #fff;
  border-radius: 50%;
  border: 6px solid #000;
}
.eye.left{
  transform: translateX(-70px);
}
.eye.right{
  transform: translateX(70px);
}
.eye.left::before { 
  content: '';
  border: 5px solid #000; 
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%; 
  background: #64c5f2;
  position: relative;
  top: 30px;
  left: 50px; 
}
.eye.left::after {
  content: " ";
  width: 30px;
  height: 30px;
  display: block;
  background-color: #000;
  border-radius:50%;
  position: absolute;
  top: 46px;
  left: 66px;  
}
.eye.right::before { 
  content: '';
  border: 5px solid #000; 
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%; 
  background: #64c5f2;
  position: relative;
  top: 30px;
  left: 20px; 
}
.eye.right::after {
  content: " ";
  width: 30px;
  height: 30px;
  display: block;
  background-color: #000;
  border-radius:50%;
  position: absolute;
  top: 46px;
  left: 34px;  
}
.eyelashes.left {
  position: absolute;
  top: -30px;
	left: 60px;
  width: 8px;
  height: 25px;
  background: #000;
}
.eyelashes.left::before {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 30px;
	width: 8px;
  height: 25px;
	background: #000;
  transform: rotate(30deg);
}
.eyelashes.left::after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: -30px;
	width: 8px;
  height: 25px;
	background: #000;
	transform: rotate(-30deg);
}
.eyelashes.right {
  position: absolute;
  top: -30px;
	left: 60px;
  width: 8px;
  height: 25px;
  background: #000;
}
.eyelashes.right::before {
  content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: -30px;
	width: 8px;
  height: 25px;
	background: #000;
	transform: rotate(-30deg);
}
.eyelashes.right::after {
  content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 30px;
	width: 8px;
  height: 25px;
	background: #000;
	transform: rotate(30deg);
}
.face {
  width: 60px;
	height: 60px;
	position: absolute;
  left: 50%;
  top: 110px;
  margin-left: -30px;
  margin-top: 100px;
	border: 5px solid #fa3c14;
	border-radius: 50px;
	background: #ffe600;
}
.face.left{
  transform: translateX(-120px);
}
.face.right{
  transform: translateX(120px);
}
.face::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 10%;
	width: 40px;
	height: 40px;
	background: #ffe600;
	z-index: 2;
}
.spot {
	display: block;
	position: absolute;
	left: 15%;
	top: 30%;
	width: 10px;
	height: 10px;
	background-color: #fa3c14;
	border-radius: 50%;
	z-index: 5;
}
.spot::before {
	content: '';
	display: block;
	position: absolute;
	left: 15px;
  top: -10px;
	width: 10px;
	height: 10px;
	background-color: #fa3c14;
	border-radius: 50%;
	z-index: 5;
}
.spot::after {
	content: '';
	display: block;
	position: absolute;
	left: 30px;
	width: 10px;
	height: 10px;
	background-color: #fa3c14;
	border-radius: 50%;
	z-index: 5;
}
.smile {
	width: 300px;
	height: 120px;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -150px;
	border: 5px solid #000;
	border-color: #000 transparent transparent transparent;
	border-radius: 50% / 100px 100px 10px 10px;
	transform: rotate(180deg);
	z-index: 2;
}
.smile::before {
	content: '';
	position: absolute;
	top: 15px;
	left: 28px;
	width: 20px;
	height: 24px;
  border: 5px solid transparent;
  border-left: 5px solid #000;
  transform: rotate(-30deg);
}
.smile::after {
	content: '';
	position: absolute;
	top: 24px;
	right: 18px;
	width: 20px;
	height: 24px;
  border: 5px solid transparent;
  border-left: 5px solid #000;
  transform: rotate(30deg);
}
.teeth {
  width: 50px;
	height: 50px;
  position: absolute;
  left: 50%;
  top: 315px;
  margin-left: -25px;
	background: white;
	border-radius: 5px;	
	border: 5px solid #000;
}
.teeth.left {
	transform: translateX(-30px) rotate(5deg);
}
.teeth.right {
	transform: translateX(30px) rotate(-5deg);
}


